.bicicleta-nimbus-bg {
  background: var(--cor-0);
}
.bicicleta-nimbus {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bicicleta-nimbus-descricao {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bicicleta-nimbus-descricao h2 {
  position: relative;
  margin-bottom: 20px;
}

.bicicleta-nimbus-descricao h2::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 8px;
  background: var(--cor-p1);
  position: absolute;
  top: -20px;
  border-radius: 4px;
  transition: 0.3s;
}

.bicicleta-nimbus-descricao a:hover h2:before {
  width: 214px;
}

.bicicleta-nimbus-descricao p {
  grid-column: 1/-1;
  max-width: 45ch;
  margin-bottom: 20px;
}
